{% include 'DjangoBlogApp/main.html' %}
{% load static %}
{% block content %}
<div class="login-register-container">
    <ul>
        <a href="{% url 'home' %}" class="go-back"><img src='{% static "images/go_back.png" %}' style="width: 20px; height: 20px;"/></a>
        <h1>About socialflow</h1>

        socialflow is webapp where you can connect with people all around the world.
        <br>
        <br>
        As self taught developer, building this application allowed me to learn new technologies and become better in web development.
        It was really exciting, challenging but rewarding experience.
        <br>
        <br>
        Github repository link:
        <br>
        <a href="https://github.com/dawid31/socialflow">https://github.com/dawid31/socialflow</a>
    </ul>
</div>

{% endblock content %}