{% include 'DjangoBlogApp/main.html' %}
{% load static %}
{% block content%}
<div class="login-register-container">
    <a href="{% url 'home' %}" class="go-back"><img src='{% static "images/go_back.png" %}' style="width: 20px; height: 20px; text-align: center;"/></a>
    <h3>Followers:</h3>
    {% for follower in followers %}

    <div class="sidebar-content-element">
        <p>
            <a href="{% url 'profile' follower.profile.id %}">
                <div class="avatar-container">
                    <img src="{{ follower.profile.avatar.url }}" class="rounded-circle" style="width: 75px; height: 75px;"/>
                </div>
                {{follower.username}}
            </a>
        </p>

    </div>
  
    
    {% endfor %}

</div>


{% endblock content %}
