{% include 'DjangoBlogApp/main.html' %}

{% block content%}
<div class="login-register-container">
    <h3>Followers:</h3>
    {% for follower in followers %}

    <div class="sidebar-content-element">

        <p>
            <div class="avatar-container">
                <img src="{{follower.profile.avatar.url}}" class="rounded-circle" style="width: 75px; height: 75px;"/>
            </div>
            <a href="{% url 'profile' follower.profile.id %}">{{follower.username}}</a>
        </p>

    </div>
  
    
    {% endfor %}

</div>


{% endblock content %}
