{% include 'DjangoBlogApp/main.html' %}

{% block content %}

<div class="home-container">
    <div class="left-sidebar">

        <div class="sidebar-most-and-recent-container">
            <div class="sidebar-label">
                MOST ACTIVE USERS
            </div>

            <div class="sidebar-content">
                {% for user, posts in users_and_posts.items %}
                    <p>{{user.username}}: {{posts}} posts</p>
                {% endfor %}
            </div> 
        </div>

        <div class="sidebar-most-and-recent-container">

            <div class="sidebar-label">
                Search
            </div>

            <div class="search-input">

                <div class="form-outline">
                  <input type="search" id="form1" class="form-control" />
                  <label class="form-label" for="form1">Search</label>
                </div>

                <button type="button" class="btn btn-primary">
                  <i class="fas fa-search"></i>
                </button>

            </div>
        </div>
    </div>
    

    <div class="home-middle">

        <div class="above-posts-container">
            <div class="above-posts-container-left">
                <smaller>
                    Activity Feed
                    <br>
                    {{posts.count}} post{{posts.count|pluralize}} matching searching criteria
                </smaller>
            </div>

            {% if user.is_authenticated %}
            <div class="above-posts-container-right">
                <h3><a href="{% url 'create-post' %}">+ Create Post</a></h3>
            </div>
            {% endif %}
            
        </div>

        <div class="posts-container">

            {% for post in posts %}
            <div class="post-container">
            
                <div class="avatar-container">
                    <img src="{{post.host.profile.avatar.url}}" class="rounded-circle" style="width: 75px; height: 75px;"/>
                </div>
                
                <div class="content-container">
                    <h1>{{post.name}}</h1>
                    <p>
                        <a href="{% url 'profile' post.host.id %}">@{{post.host}}</a>  {{post.published|timesince}} ago
                        <a class="on-right" href="{% url 'post-details' post.id%}">See whole discussion</a>

                    </p>
                    {{post.content|slice:":200"|linebreaks}}
                    {% if post.content|length > 200 %}
                        <p><a href="{% url 'post-details' post.id%}">[Read more]</a></p>
                    {% endif %}

                    {% if post.img %}
                    <div class="multimedia-container">
                        <img style="max-width: 400px; max-height: 266px;" src="{{post.img.url}}"/>
                    </div>
                    {% endif %}

                    <div class="comments-container">
                    {% for comment in post.comments.all %}
                        <div class="comment-container">

                            <div class="comment-container-left">
                                <div class="comment-user-container">
                                    <img src="{{comment.author.profile.avatar.url}}" class="rounded-circle" style="width: 50px; height: 50px;"/>
                                    <a href="{% url 'profile' comment.author.id %}">@{{comment.author}}</a> • {{comment.published|timesince}} ago
                                </div>
    
                                <div class="comment-content-container">
                                    {{comment.content|linebreaks}}
                                </div>
                            </div>

                            {% if request.user == comment.author %}
                            <div class="comment-container-right">

                                <a href="{% url 'delete-comment' comment.id %}">
                                    <img src="images/close.png" style="width: 15px; height: 15px;"/>
                                </a>

                                <a href="{% url 'edit-comment' comment.id %}">
                                    <img src="images/edit.png" style="width: 15px; height: 15px;"/>
                                </a>
                            </div>
                            {% endif %}


                        </div>

                    {% endfor %}

                        <div class="like-comment-save-container">
                            <div class="on-left">
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="like" value="like">
                                        <button class="comment-button" type="submit" name="post_id" value="{{post.id}}" >
                                            <img src="images/like.png" style="width: 25px; height: 25px;"/>
                                        </button>
                                </form>

                                {% if post.likes.count == 0 %}
                                    No one liked this post yet
                                {% elif post.likes.count == 1 %}
                                    {{post.likes.count}} like
                                {% else %}
                                    {{post.likes.count}} likes
                                {% endif %}
                            </div>

                            <div class="on-right">
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="comment" value="comment">
                                    <input type="text" class="comment-input" name="comment_content" placeholder="Comment">
                                        <button class="comment-button" type="submit" name="post_id" value="{{post.id}}" >
                                            <img src="images/comment.png" style="width: 25px; height: 25px;"/>
                                        </button>
                                </form>
                            </div>
                            
                              

                        </div>
                        
                    </div>
                </div>

                <div class="edit-delete-container">
                    {% if request.user == post.host %}

                    <a href="{% url 'delete-post' post.id %}">
                        <img src="images/close.png" style="width: 25px; height: 25px;"/>
                    </a>

                    <a href="{% url 'edit-post' post.id %}">
                        <img src="images/edit.png" style="width: 25px; height: 25px;"/>
                    </a>
                    
                    {% endif %}
                </div>

            </div>
            {% endfor %}
        </div>

    </div>

    <div class="right-sidebar">


        <div class="sidebar-most-and-recent-container">
            <div class="sidebar-label">
                FOLLOWING FEED
            </div>
            <div class="sidebar-content">
                {% if user.is_authenticated %}
                {% if followed_posts %}
                {% for post in followed_posts %}
                    <div class="sidebar-content-element">

                        <div class="sidebar-content-element-post-info">

                            <div class="sidebar-content-element-user-avatar">
                                <img src="{{post.host.profile.avatar.url}}" class="rounded-circle" style="width: 40px; height: 40px; border: solid; border-color: green;"/>
                            </div>

                            <div class="sidebar-content-element-rest">

                                <div class="sidebar-content-element-host-info">
                                    <a href="{% url 'profile' post.host.id %}">@{{post.host}}</a>
                                    
                                </div>
        
                                <div class="sidebar-content-element-post-date">
                                    {{post.published|timesince}} ago
                                </div>
                                
                            </div>

                            
                            
                        </div>
        
                        <div class="sidebar-content-element-post-name">
                            <a href="{% url 'post-details' post.id %}">{{post.name}}</a>
                        </div>                       
                    </div>
                {% endfor %}
                {% else %}
                <p>Follow people to see their latest activity here!</p>
                {% endif %}
                {% else %}
                <p>Log in to see activity of people that you follow!</p>
                {% endif %}
            </div>
        
        </div>
    
    </div>
</div>
{% endblock content %}
    


