{% include 'DjangoBlogApp/main.html' %}

{% block content %}
  <div class="login-register-container">
    <h2 class="text-uppercase text-center mb-5">Password Reset</h2>
  
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

    <form method="POST" action="">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-success btn-block btn-sm gradient-custom-4 text-body">
          Send email
        </button>
    
    </form>
  </div>
                
{% endblock content %}