{% include 'DjangoBlogApp/main.html' %}

{% block content %}
<div class="login-register-container">
  <div class="row my-3 p-3">
    <div class="content-section">
        <div class="media">
          <div class="media-body">
            <img src="{{user.profile.avatar.url}}" class="rounded-circle" style="width: 150px; height: 150px;"/>
            <h2 class="account-heading">{{user.username}}</h2>
            <p class="text-secondary">{{user.email}}</p>
            <p>Biogram:
              <br>
              {{user.profile.biogram}}
            </p>
          </div>
        </div>

        {% if request.user == user %}
        <div>
          <h1 class="text-success text-center">Edit Account</h1>
    
          <form method="POST", action="" enctype="multipart/form-data">
              {% csrf_token %}
              {{form.as_p}}
              <button type="submit">Save Settings</button>
          </form>
        </div>
        {% endif %}

    </div>
</div>
</div>


{% endblock content %}