{% include 'DjangoBlogApp/main.html' %}
{% load static %}
{% block content %}

  <div class="login-register-container">
    <a href="{% url 'home' %}" class="go-back"><img src='{% static "images/go_back.png" %}' style="width: 20px; height: 20px"/></a>
    <h2 class="text-uppercase text-center mb-5">Create an account</h2>

    <form method="POST">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-outline mb-4">

        {{field}}
        <label class="form-label" for="form3Example1cg">Your {{field.label}}</label>
        
      </div>
      {% endfor %}
      {% if form.errors %}
        <div class="alert alert-danger">
            {% for field, errors in form.errors.items %}
                <p><strong>{{ field }}:</strong></p>
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    {% endif %}
      <div class="d-flex justify-content-center">
        <button type="submit"
          class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
      </div>

      <p class="text-center text-light mt-5 mb-0">Have already an account? <a href="{% url 'login' %}"
          class="fw-bold text-light"><u>Login here</u></a></p>

    </form>

  </div>
              

{% endblock content %}