.global
{
    background-color: #1D1D25;
    color: white;
}

.home-container
{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 70px;
}

.posts-container
{
    display: grid;
    place-items: center;
    margin-bottom: 20px;
}

.post-container
{
    display: grid;
    grid-template-columns: 1fr 6fr;
    text-align: left;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #252B30;
}

.avatar-container
{
    margin-top: 10px;
    margin-left: 10px;
}

.comments-container
{
    margin-right: 20px;
}

.comment-container
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: left;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #2D383A;
}

.comment-user-container
{
    margin-top: 5px;
    margin-left: 5px;
}

.comment-content-container
{
    margin-left: 10px;
}

.login-register-container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 30px;
    background: #252B30;
}

.participants-container
{
    display: grid;
    grid-template-columns: 1fr 6fr;
    text-align: left;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    background: #ffffff;
}